import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('imag5.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
   position: absolute;
   left: 10%;
   top:20%
   width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #222;
    border-radius: 10px;
    padding: 60px 118px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}
.wrapper .input-box{
    position: relative;
width: 120%;
height: 50px;

margin: 30px 0;
}
.input-box input{
    color: #222;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 40px;
    font-size: 16px;
    color: #161515;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #222;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 16.5px;
    margin: -15px 0 15px;
    font-weight: bold;
}
.remember label input{
    accent-color: #222;
    margin-right: 3px;
}
.remember a{
    color: #222f;
    text-decoration: none;
    font-weight: bold;
    
    
}
.remember a:hover{
    text-decoration: underline;
    color: rgb(77, 78, 80);
}
.wrapper .btn{
    width: 120%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600
}
.btn:hover{
   
        background: linear-gradient(to right, #a6c1ee, #fbc2eb);
    
}
.login{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
    
    color: white;
    
}
.login:hover{
    background: linear-gradient(45deg,black,blue);
    color: #fff;
}